/* Welcome View
-----------------------------------------------------------------------------*/

.welcome-view > .content,
.welcome-view > .wrapper > .content{
	padding: 25px;
}

/* Navigation View
-----------------------------------------------------------------------------*/

.navigation-view {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c1c5cc), color-stop(1, #e8eaed));
}

/* Transition View
-----------------------------------------------------------------------------*/

.transition-view > .content,
.transition-view > .wrapper > .content {
	padding: 25px;
}

.transition-view-title {
	-webkit-border-radius: 25px;
	-webkit-box-flex: 1;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	background: rgba(255, 255, 255, 0.5);
	display: -webkit-box;
	font-size: 28px;
	font-weight: normal;
	padding: 25px;
	text-align: center;
}

/* Control View
-----------------------------------------------------------------------------*/

.control-view .view-content {
	padding: 25px;
}

/* Control List View
-----------------------------------------------------------------------------*/

.control-list-view .list {
	margin-bottom: 12px;
}

/* Carousel View
-----------------------------------------------------------------------------*/

.carousel-view .carousel .slide .box {
	-webkit-border-radius: 25px;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	background: rgba(255, 255, 255, 0.5);
	display: -webkit-box;
	font-size: 28px;
	font-weight: normal;
	padding: 25px;
	text-align: center;
}

/* Carousel Horizontal View
-----------------------------------------------------------------------------*/

.carousel-horizontal-view .navigation-bar {
	position: absolute;
	top: 0px;
}
.carousel-horizontal-view {
	padding-top: 44px;
}

.carousel-horizontal-view .carousel {
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
}

.carousel-horizontal-view .carousel > * {
	-webkit-box-flex: 1;
	-webkit-box-orient: horizontal;
	display: -webkit-box;
}

.carousel-horizontal-view .carousel .slide {
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	padding: 25px;
}

.carousel-horizontal-view .carousel .slide .box {
	-webkit-box-flex: 1;
}

/* Carousel Vertical View
-----------------------------------------------------------------------------*/

.carousel-vertical-view .navigation-bar {
	position: absolute;
	top: 0px;
}

.carousel-vertical-view {
	padding-top: 44px;
}

.carousel-vertical-view > .content {
	-webkit-box-flex: 1;
	height: 100%;
}

.carousel-vertical-view .carousel {
	-webkit-box-flex: 0;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	height: 100%;
}

.carousel-vertical-view .carousel > * {
	-webkit-box-flex: 0;
	-webkit-box-orient: block-axis;
	display: -webkit-box;
	height: 100%;
}

.carousel-vertical-view .carousel .slide {
	-webkit-box-orient: horizontal;
	display: -webkit-box;
	padding: 25px;
}

.carousel-vertical-view .carousel .slide .box {
	-webkit-box-flex: 1;
}
