<div data-role="view" data-view="Moobile.ScrollView" class="navigation-view navigation-transitions-view">

	<div data-role="control" data-control="Moobile.List" data-name="list">
		<ul>
			<li data-role="control" data-control="Moobile.ListItem" data-name="slide">Slide</li>
			<li data-role="control" data-control="Moobile.ListItem" data-name="cubic">Cubic</li>
			<li data-role="control" data-control="Moobile.ListItem" data-name="cover">Cover</li>
			<li data-role="control" data-control="Moobile.ListItem" data-name="flip">Flip</li>
			<li data-role="control" data-control="Moobile.ListItem" data-name="fade">Fade</li>
			<li data-role="control" data-control="Moobile.ListItem" data-name="none">None (Default)</li>
		</ul>
	</div>
	

</div>