<div data-role="view" data-view="Moobile.ScrollView" class="navigation-view">

	<div data-role="control" data-control="Moobile.List" data-name="list">
		<ul>

			<li data-role="control" data-control="Moobile.ListItem" data-name="transition">

				<div data-role="image">
					<img src="images/icon-transitions.png" />
				</div>

				Transitions

			</li>

			<li data-role="control" data-control="Moobile.ListItem" data-name="control">

				<div data-role="image">
					<img src="images/icon-controls.png" />
				</div>

				Controls

			</li>

		</ul>
	</div>

</div>