<div data-role="view" data-view="Moobile.ScrollView" class="control-view control-alert-view">

	<h2>Simple alert</h2>

	<div data-role="control" data-control="Moobile.Button" data-name="simple-button">Display</div>

	<br />

	<h2>Alert with vertical buttons</h2>

	<div data-role="control" data-control="Moobile.Button" data-name="vertical-button">Display</div>

	<br />

	<h2>Alert with horizontal buttons</h2>

	<div data-role="control" data-control="Moobile.Button" data-name="horizontal-button">Display</div>

</div>