<div data-role="view" data-view="Moobile.ScrollView" class="content-view">

	<h1>Modal View</h1>

	<div data-role="control" data-control="Moobile.Button" data-name="modal-view-default-button">Display</div>

	<br />

	<h1>Modal View Centered</h1>

	<div data-role="control" data-control="Moobile.Button" data-name="modal-view-centered-button">Display</div>

	<br />

	<h1>Modal View Boxed</h1>

	<div data-role="control" data-control="Moobile.Button" data-name="modal-view-boxed-button">Display</div>

</div>