<div data-role="view" data-view="Moobile.ScrollView">

	<div data-role="control" data-control="Moobile.NavigationBar">
		Label
		<div data-role="bar-button" data-task="left" data-left-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Back">Back</div>
		<div data-role="bar-button" data-task="right" data-right-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Forward">Forward</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar" data-options="styleName:Moobile.BarStyle.BlackOpaque">
		<div data-role="bar-title">Title</div>
		<div data-role="bar-button" data-task="left" data-left-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Back">Back</div>
		<div data-role="bar-button" data-task="right" data-right-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Forward">Forward</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar">
		<div data-role="navigation-item" data-navigation-item="Moobile.NavigationItem">
			Label
			<div data-role="bar-button" data-task="left" data-left-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Active">Label</div>
			<div data-role="bar-button" data-task="right" data-right-bar-button="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Warning">Label</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar" data-options="styleName:Moobile.BarStyle.DefaultOpaque">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 3</div>
			</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar" data-options="styleName:Moobile.BarStyle.DefaultTranslucent">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 3</div>
			</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar" data-options="styleName:Moobile.BarStyle.BlackOpaque">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 3</div>
			</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar" data-options="styleName:Moobile.BarStyle.BlackTranslucent">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton">Label 3</div>
			</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Active">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Active">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Active">Label 3</div>
			</div>
		</div>
	</div>

	<div data-role="control" data-control="Moobile.NavigationBar">
		<div data-role="bar-title">
			<div data-role="control" data-control="Moobile.ButtonGroup">
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Warning">Label 1</div>
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Warning">Label 2</div>
				<div data-role="control" data-control="Moobile.BarButton" data-options="styleName:Moobile.BarButtonStyle.Warning">Label 3</div>
			</div>
		</div>
	</div>

</div>