<div data-role="view" data-view="Moobile.ScrollView" class="control-view control-list-view">

	<h2>List Style: Grouped</h2>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="list-item">Item 1</li>
			<li data-role="list-item">Item 2</li>
			<li data-role="list-item">Item 3</li>
			<li data-role="list-item">This is a very long text that may or may not fit in the list item. If it does, resize your browser window until the cell is shorter than the text.</li>
		</ul>
	</div>

	<br />

	<h2>List Item Styles</h2>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Checked">Moobile.ListItemStyle.Checked</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Disclosed">Moobile.ListItemStyle.Disclosed</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Detailed">Moobile.ListItemStyle.Detailed</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Active">Moobile.ListItemStyle.Active</li>
		</ul>
	</div>


</div>