<div data-role="view" data-view="Moobile.ScrollView" class="content-view">

	<h1>List Style: Grouped</h1>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="list-item">Item 1</li>
			<li data-role="list-item">Item 2</li>
			<li data-role="list-item">Item 3</li>
			<li data-role="list-item">This is a very long text that may or may not fit in the list item. If it does, resize your browser window until the cell is shorter than the text.</li>
			<li data-role="list-item">
				Item 3
				<div data-role="label" data-task="accessory">
					Accessory Text
				</div>
			</li>
		</ul>
	</div>

	<br />

	<h1>List Item Styles</h1>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Checked">
				Moobile.ListItemStyle.Checked
				<div data-role="label" data-task="accessory">
					Accessory Text
				</div>
			</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Disclosed">
				Moobile.ListItemStyle.Disclosed
				<div data-role="label" data-task="accessory">
					Accessory Text
				</div>				
			</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Detailed">
				Moobile.ListItemStyle.Detailed			
				<div data-role="label" data-task="accessory">
					Accessory Text
				</div>				
			</li>
			<li data-role="list-item" data-options="styleName:Moobile.ListItemStyle.Activity">
				Moobile.ListItemStyle.Active
				<div data-role="label" data-task="accessory">
					Accessory Text
				</div>				
			</li>
		</ul>
	</div>


</div>