<div data-role="view" data-view="Moobile.ScrollView" class="control-view control-list-view">

	<h2>List Style: Grouped</h2>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="control" data-control="Moobile.ListItem">Item 1</li>
			<li data-role="control" data-control="Moobile.ListItem">Item 2</li>
			<li data-role="control" data-control="Moobile.ListItem">Item 3</li>
		</ul>
	</div>

	<h2>List Item Styles</h2>

	<div data-role="control" data-control="Moobile.List" data-options="styleName:Moobile.ListStyle.Grouped">
		<ul>
			<li data-role="control" data-control="Moobile.ListItem" data-options="styleName:Moobile.ListItemStyle.Checked">Moobile.ListItemStyle.Checked</li>
			<li data-role="control" data-control="Moobile.ListItem" data-options="styleName:Moobile.ListItemStyle.Disclosed">Moobile.ListItemStyle.Disclosed</li>
			<li data-role="control" data-control="Moobile.ListItem" data-options="styleName:Moobile.ListItemStyle.Detailed">Moobile.ListItemStyle.Detailed</li>
			<li data-role="control" data-control="Moobile.ListItem" data-options="styleName:Moobile.ListItemStyle.Active">Moobile.ListItemStyle.Active</li>
		</ul>
	</div>	


</div>